
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div>
          <h1 class="header-h1">Slate Scraper</h1>
          <h2 class="header-h2">Scrape, save, and comment on articles from Slate.com</h2>
          <form action="/scrape" method="GET"><button class="btn btn-primary" type="submit">CLICK TO SCRAPE NEW ARTICLES</button></form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div id="article-dump">
        {{#each articles}}

          <div class="panel panel-default">
            <div class="row">
              <div class="col-md-10">
                {{!-- <a href={{this.link}}> --}}
              
                <a href={{this.link}} id={{this._id}} class="post-title">{{this.title}}</a>
              </div>
              <div class="col-md-1">
                <form action="/save/{{this.id}}" method="POST">
                  <input type="hidden" name="saved" value="true">
                  <button class="btn btn-primary save-button" type="submit">Save</button>
                </form>
              </div>
            </div>
          </div>

          <br>
          <br>

        {{/each}}
        </a>
      </div>
      <hr>
      
    </div>
  </div>
</div>