
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="header-h1">Slate Scraper</h1>
          <h2 class="header-h2">View and comment on your saved articles here.</h2>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div id="article-dump">
        {{#each articles}}
          {{#if this.saved}}
            <div class="panel panel-default">
              <div class="row">
                <div class="col-md-9">
                
                  <a href={{this.link}} id={{this._id}} class="post-title">{{this.title}}</a>
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-5">
                      <form action="/save/{{this.id}}" method="POST">
                        <input type="hidden" name="saved" value="false">
                        <button class="btn btn-primary save-button" type="submit">Unsave</button>
                      </form>
                    </div>
                    <div class="col-md-5 offset-md-2">
                      <button class="btn btn-success note" id={{this.id}}>Notes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <br>
          {{/if}}
        {{/each}}
        </a>
      </div>
      <hr>
      
    </div>
  </div>
</div>
